<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Toxic Waste Viewer - Because Earth Matters</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'toxic_viewer/modules/bootstrap/dist/css/bootstrap.min.css'  %}">
</head>

<body class="container-fluid">
  <h1 class="display-1">Watup Universe!</h1>

  <h3>Here's what you gotta do to start:</h3>

  <ul>
    <li>Parse CSV information, into object/dictionary??</li>
    <li>Load OpenMaps and see how you can add in Lat/Long - can this be grabbed from your CSV data that you parsed?</li>
  </ul>
  <script src="{% static 'toxic_viewer/modules/jquery/dist/jquery.slim.min.js'  %}"></script>
  <script src="{% static 'toxic_viewer/modules/popper.js/dist/popper.min.js'  %}"></script>
  <script src="{% static 'toxic_viewer/modules/bootstrap/dist/js/bootstrap.min.js'  %}"></script>
</body>

</html>